<div id="dream-modal">
  <a class="modal_close" href="#"><%= image_tag "close.png" %></a>
  <h1>
    <span id="modal-header">Welcome to Dreams</span>
  </h1>
  <p>
    <span id="modal-font" class="signin">Sign in with YouTube to see your own dreams</span>
    <span id="modal-font" class="save_parag">Save your Dream</span>
  </p>
  <div class="modal-btn sign-in">
    <a href="#" id="sign_in_btn_text">Sign In</a>
    <a href="#" id="save_btn_text">Save</a>
  </div>
  <p>
    <span id="modal-font" class="or">or</span>
  </p>
  <p>
    <span id="modal-font" class="random">Experience a random dream.</span>
    <span id="modal-font" class="discard_parag">Discard your Dream.</span>
  </p>
  <div class="modal-btn random-dream" style="margin-top:-285px">
    <a href="#" id="random_btn_text">Random</a>
    <a href="#" id="discard_btn_text">Discard</a>
  </div>
</div>